# Dependencies
node_modules/
*/node_modules/

# AWS CDK
cdk.out/
*/cdk.out/
.cdk.staging/
*/.cdk.staging/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Temporary bundles & local test media
*.tar.gz
*.zip
*.mp4
*.avi
scratch/
docs/

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets and Keys
.env
.env.*
*.pem
*.pub
*.key
*.crt
*.pfx
*.p12
*.token
*.log
.aws/
credentials
id_rsa
id_rsa*
id_ed25519
id_ed25519*
swarmsight_ec2_connect
